RewriteEngine On
RewriteBase /IMDB/

# Permitir acesso direto a arquivos e diretórios
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]